<div class="cont-<%= message.user.id %>">
  <div class="msg-<%= message.user.id %>">
    <% unless message.room.is_private %>
      <p class="text-[12px] pt-2"> <%= message.user.email %></p>
    <% end %>
    <%= message.body %>
  </div>
</div>