/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
} 


/* .s-panel-border {
  border-right: 1px solid silver;
} */

/* .bottom-border {
  border-bottom: 1px solid silver;
  width: 100%;
}

.top-border {
  border-top: 1px solid silver;
  width: 100%;
} */






/* .side-panel {
  height: calc(100vh - 55px);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 55px;
} */

.init-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px #777778 solid;
  border-radius: 50px;
  background: #777778;
  width: 32px;
  height: 32px;
  padding: 4px;
}
