<%= form_with(model: [@single_room, @message], remote: true,
  data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
  <div class="mb-2 px-2 pt-2 flex border-t">
    <%= f.text_field :body, id: 'chat-text', class:"border h-[28px] ml-4 mr-2 bg-gray-100 rounded-sm border-black", autocomplete: 'off' %>
    <%= f.submit 'Post', data: {disable_with: false}, class:"rounded-md bg-gray-600 text-white border border-gray-600 hover:cursor-pointer px-2" %>
  </div>
<% end %>
