<div class="row">
  <%= form_with(model: @room, remote: true, class:"py-6",
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
    <div class="flex-col w-1/2">
      <%= f.text_field :name, class:"text-black mx-auto", autocomplete: 'off' %>
      <%= f.submit data: {disable_with: false} %>
    </div>
  <% end %>
</div>